.tippydata{
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    border-top: 0.1px solid #d7dbe2;
    border-width: thin;
    padding: 10px;
    gap: 10px;
}
.tippydata:nth-child(1){
    border-top: none;
}
.tippydata li{
    color: var(--blue-color);
}
.tippydata span{
    color: #000;
}
